@charset "utf-8";
@import url(reset.css);

:root{
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-color: rgb(20, 20, 20);
    --point-color: #d49466;
}

/* for footer */

.footer{
    width: 100%;
    height: auto;
}

.footer .inner-footer{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

}
.footer .inner-footer .fcon{
    width: 100%;
    max-width: 75rem;
    height: 12.5rem;
    font-family: var(--font-family);
    text-align: center;
    font-size: 1.3rem;
    line-height: 12.5rem;
    background-color: #263343;
}

.footer .inner-footer .fcon a{
    color: var(--point-color);
    transition: all .2s ease-in-out;
}

.footer .inner-footer .fcon a:hover{
    color: aliceblue;
}